@import 'libs';

/* Box sizing rules */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults */
html {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	background-color: #0b0b0b;
	color: #fff;
	font-family: Operator Mono Lig, sans-serif;
	font-weight: 400;
	text-rendering: optimizeSpeed;
	line-height: 28px;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
	filter: blur(2px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	outline: 1px solid red;
}

a {
	color: inherit;
	text-decoration: none;
}
/* Root properties for project */

.header {
	height: 100vh;
	position: absolute;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.12);
	z-index: 5;

	.header__inner {
		padding-top: 36px;

		.header__top {
			margin-bottom: 28px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.header__burger {
				width: 55px;
				height: 55px;
				border: 1px solid #fff;
				background: rgba(255, 255, 255, 0.1);
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				cursor: pointer;

				.burger__line {
					width: 30px;
					height: 1px;
					margin: 5px 0;
					background-color: #fff;
				}
			}
		}

		.header__content {
			.content__title {
				font-size: 96px;
				line-height: 112px;
				margin-bottom: 40px;
				font-family: 'Roboto', sans-serif;
			}

			.content__text {
				width: 284px;
				font-size: 24px;
				line-height: 28px;
				margin-bottom: 25px;
			}

			.content__btn {
				display: inline-block;
				padding: 30px 60px;
				background: rgba(255, 255, 255, 0.15);
				border: 1px solid #ffffff;
				transition: all 0.4s;
				&:hover {
					background: #770302;
					border: 1px solid #770302;
				}
			}
		}
	}
}

.slider__top {
	.slider__item {
		height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}

/* slick slider settings */
.slider .slick-dots {
	position: relative;
	max-width: 1210px;
	margin: -55px auto 0;
	z-index: 6;
}

.slider .slick-dots button {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	font-size: 0;
	outline: none;
	border: none;
	padding: 0;
	background-color: #0b0b0b;
	cursor: pointer;
}

.slider .slick-dots .slick-active button {
	background-color: #fff;
}

.slider .slick-dots li {
	display: inline-block;
	margin: 0 10px;
}

.statistics {
	margin: 160px 0 100px;

	.statistics__items {
		display: flex;
		justify-content: space-around;

		.statistics__item {
			text-align: center;

			.item__title {
				margin-bottom: 20px;
			}

			.item__num {
				font-size: 96px;
				line-height: 112px;
				margin-bottom: 7px;

				span {
					font-size: 24px;
					line-height: 28px;
					margin-left: 10px;
				}
			}

			.item__num--plus {
				span {
					display: inline-block;
					position: relative;
					&::before {
						content: '+';
						position: absolute;
						top: -60px;
					}
				}
			}

			.item__descr {
				color: #b70021;
			}
		}
	}
}
